.post {
  /*
  border-top: 2px;
  border-bottom: 2px;
  border-color: black;
  border-style: solid;
  border-width: thin;
*/
  margin-bottom: 20px;
  background-color: inherit;
}

.post-title {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}
